body {
	margin-left: 12.5%;
	margin-right: 12.5%;
}

fieldset {
	margin-bottom: 15px;
}

#output div{
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	height: 100px;
	width: 160px;
	clear: all;
	display: inline-block;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}