body {
	margin-left: 12.5%;
	margin-right: 12.5%;
}

fieldset {
	margin-bottom: 15px;
	padding: 25px 10px;
}

#output div{
	font-size: 1.5em;
	font-weight: bold;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	height: 100px;
	width: 160px;
	clear: all;
	display: inline-block;
}

#output div button {
	float: inline-end;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}